$yellow: red;
$view-width: 70%;
$footer-color:white;
$medium:950px;
$primary:rgb(25, 146, 81);
$light:rgb(228, 243, 234);
$outline-border: 0.6px solid lighten(grey, 40%);
$sm-to-md:620px;
$sm:400px;
$border-light-gray:1px solid lighten(grey, 30%)