/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: normal 16px sans-serif;
  color: #555; }

ul,
nav {
  list-style: none; }

a {
  text-decoration: none;
  opacity: 0.75;
  color: black; }

a:hover {
  opacity: 1; }

.container {
  margin: 0 10vw; }
  @media (max-width: 400px) {
    .container {
      margin: 0; } }

.header {
  background: url(/assets/images/header_bg01.png) no-repeat left;
  background-size: cover;
  -webkit-box-shadow: 0px -3px 10px 0px dimgray;
  -moz-box-shadow: 0px -3px 10px 0px dimgray;
  box-shadow: 0px -3px 10px 0px dimgray;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px 0; }
    .header .nav-brand {
      margin: 0 2vw 0 0; }
    .header .nav-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 100%;
      margin: 0 5vw; }
      .header .nav-list-item {
        text-transform: uppercase; }
    .header .nav-toggle > i {
      color: #147e46;
      font-size: 1.5rem;
      display: none; }
  @media (max-width: 920px) {
    .header .nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 5px 0; }
      .header .nav-brand {
        margin: 0 2vw 0 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row; }
      .header .nav-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: .5em 0 .5rem 0;
        margin: 0; }
        .header .nav-list-item {
          padding-top: .2rem; }
      .header .nav #active {
        display: none; }
      .header .nav-toggle > i {
        display: block;
        float: right; } }

footer {
  background: url(/assets/images/footer_bg.jpg) no-repeat left;
  background-size: cover;
  position: relative;
  bottom: 0; }
  footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px 0; }
    footer .footer-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      padding: 1rem 0 3rem 0; }
    footer .footer-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row; }
      footer .footer-list-item {
        text-transform: uppercase;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row; }
        footer .footer-list-item a {
          color: white;
          margin-left: 3vw; }
    footer .footer-right {
      color: #cccccc;
      font-size: 0.7rem; }
    @media (max-width: 920px) {
      footer .footer-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        text-align: center; }
      footer .footer-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; }
        footer .footer-list-item {
          margin-top: .5rem; }
      footer .footer-right {
        margin-top: 2rem;
        display: inline-flex;
        color: #cccccc;
        text-align: center; } }

.main {
  background: url(/assets/images/main_bg.jpg) no-repeat top;
  background-position: right top;
  height: 100%; }
  .main img {
    width: 100%;
    height: auto; }
  .main button {
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1.2vw 0 1.2vw;
    align-items: center;
    color: #147e46;
    background-color: white;
    outline: none;
    border: 0.6px solid #9dd4b3;
    cursor: pointer;
    font-weight: 700;
    word-spacing: .1rem;
    letter-spacing: .1em; }
    .main button img {
      width: .6rem;
      height: .6rem; }
    @media (max-width: 920px) {
      .main button {
        font-size: .6rem;
        justify-content: space-around; } }
  .main .slider {
    position: relative;
    top: -0.8rem;
    z-index: 98;
    border: 0.6px solid #e6e6e6; }
    .main .slider-content {
      position: absolute;
      height: 50%;
      width: 30%;
      z-index: 100;
      top: 20%;
      left: 68%;
      color: black;
      font-size: 1.5vw;
      font-weight: 300; }
      .main .slider-content-header {
        color: #147e46;
        font-size: 2vw; }
    .main .slider button {
      width: 20%;
      height: 10%;
      z-index: 100;
      top: 80%;
      right: 10%;
      position: absolute;
      background-color: white;
      outline: none;
      cursor: pointer;
      font-weight: 700;
      word-spacing: .1rem;
      letter-spacing: .1em; }
      .main .slider button img {
        width: 1vw;
        height: 1vw; }
  .main .lifestyle {
    display: inline-block;
    margin: 0;
    border: 0.6px solid #e6e6e6;
    width: 100%;
    background: white;
    background: -moz-linear-gradient(180deg, white 13%, whitesmoke 92%, #f0f0f0 98%);
    background: -webkit-linear-gradient(180deg, white 13%, whitesmoke 92%, #f0f0f0 98%);
    background: linear-gradient(180deg, white 13%, whitesmoke 92%, #f0f0f0 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f0f0f0",GradientType=1); }
    .main .lifestyle .wrapper {
      padding: 1rem 2rem; }
      .main .lifestyle .wrapper .heading {
        font-size: 130%;
        color: #147e46;
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid #147e46; }
      .main .lifestyle .wrapper-inner {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 1rem 0; }
        .main .lifestyle .wrapper-inner-left {
          display: flex;
          flex-direction: column;
          max-width: 450px;
          font-size: 1rem;
          justify-content: space-between; }
          .main .lifestyle .wrapper-inner-left button {
            margin-top: 3vh;
            width: 10rem;
            height: 2rem; }
        .main .lifestyle .wrapper-inner-right {
          display: flex;
          padding-left: 1rem; }
          .main .lifestyle .wrapper-inner-right-block {
            border-left: 1px solid #cdcdcd;
            padding-left: 0.5rem; }
            .main .lifestyle .wrapper-inner-right-block-header {
              padding-left: 1rem;
              width: 100%;
              color: #9a9a9a; }
            .main .lifestyle .wrapper-inner-right-block-main {
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: row;
              width: auto;
              align-items: flex-start; }
              .main .lifestyle .wrapper-inner-right-block-main-inner {
                padding: 0 10px;
                max-width: 150px; }
                .main .lifestyle .wrapper-inner-right-block-main-inner:nth-child(2) {
                  border-left: 1px solid #cdcdcd; }
                .main .lifestyle .wrapper-inner-right-block-main-inner-title {
                  color: #147e46; }
    @media screen and (max-width: 920px) {
      .main .lifestyle .wrapper-inner {
        flex-direction: column; }
        .main .lifestyle .wrapper-inner-left {
          max-width: 100%;
          margin-bottom: 1.5rem; }
        .main .lifestyle .wrapper-inner-right {
          padding: 0; }
          .main .lifestyle .wrapper-inner-right-block:nth-child(1) {
            border-left: 0px; }
          .main .lifestyle .wrapper-inner-right-block-header {
            padding: 0 0 .3rem 1rem; } }
    @media screen and (max-width: 920px) and (max-width: 600px) {
      .main .lifestyle .wrapper-inner-right {
        flex-direction: column; }
        .main .lifestyle .wrapper-inner-right-block {
          padding-bottom: 1rem; }
          .main .lifestyle .wrapper-inner-right-block:nth-child(2) {
            border-left: 0px; }
          .main .lifestyle .wrapper-inner-right-block-main-inner {
            padding: 0; }
            .main .lifestyle .wrapper-inner-right-block-main-inner:nth-child(2) {
              border: none; } }
