@mixin center-flex($dir: row, $gap: space-between) {
  display: flex;
  justify-content: space-around;

  align-items: center;
  flex-direction: $dir;
}

@mixin border-showdow {
  box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.1);
}

@mixin bg-grad {background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 13%, rgba(245,245,245,1) 92%, rgba(240,240,240,1) 98%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 13%, rgba(245,245,245,1) 92%, rgba(240,240,240,1) 98%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 13%, rgba(245,245,245,1) 92%, rgba(240,240,240,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f0f0f0",GradientType=1);
}