@mixin center-flex($dir: row, $gap: space-between) {
  display: flex;
  justify-content: space-around;

  align-items: center;
  flex-direction: $dir;
}

@mixin border-showdow {
  box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.1);
}
